[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/bmizerany/sinatra.git
[submodule "vendor/rspec_hpricot_matchers"]
	path = vendor/rspec_hpricot_matchers
	url = git://github.com/pd/rspec_hpricot_matchers.git
