[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/bmizerany/sinatra.git
[submodule "vendor/rspec_hpricot_matchers"]
	path = vendor/rspec_hpricot_matchers
	url = git://github.com/pd/rspec_hpricot_matchers.git
[submodule "vendor/sinatra-mailer"]
	path = vendor/sinatra-mailer
	url = git://github.com/foca/sinatra-mailer.git
[submodule "vendor/smtp-tls"]
	path = vendor/smtp-tls
	url = git://github.com/ambethia/smtp-tls.git
