log/*.log
config/thin.yml
config/deploy.rb
config/config.yml
dist
coverage
exports
*.db
*.gem
*.swp
*.log
.aggregated_coverage_report
tmp/
bin
vendor
doc/integrity.html
builds
.sass-cache
public/integrity.css
Gemfile.lock
.bundle/
