- if @projects.empty?
  .blank_slate
    %p None yet, huh?
    %h1
      Why don't you
      = succeed "?" do
        %a{ :href => path("new") } create your first project
        - if show_login?
          or
          %a{ :href => path("login"), :id => "login" } login
- else
  %ul#projects
    - @projects.each do |project|
      %li{ :class => cycle("odd", "even") + ' ' + project.status.to_s }
        %a{ :href => project_path(project) }&= project.name
        .meta
          - case project.status
          - when :building
            Building!
          - when :blank
            Never built yet
  %p
    %a{ :href => path("new"), :id => "new" } Add a new project

    - if show_login?
      or
      %a{ :href => path("login"), :id => "login" } Login
