.error
  %h1
    Ehm, you seem a bit lost, sir. Maybe going to the
    %a{ :href => root_path, :rel => "home" } list of projects
    will help?
  %dl
    %dt Ouch. This is a 404 error-thingie, right?
    %dd Yeah, you browsed to a page that doesn't exist in this server.

    %dt What can I do?
    %dd
      As a very good book says on its cover:
      = succeed "." do
        %strong DON'T PANIC
      / if you didn't get the reference you aren't as nerd as you should be
      You should probably just go back to
      %a{ :href => root_path, :rel => "home" } the projects list
      or, alternatively, go
      = succeed "." do
        %a{ :href => request.referer } back from whence you came

    %dt
      What the hell is
      = succeed "?" do
        %strong Integrity
    %dd
      Integrity is your friendly
      %a{ :href => "http://en.wikipedia.org/wiki/Continuous_integration" } Continuous Integration
      server. If you want to know more about us, check our website at
      = succeed "." do
        %a{ :href => "http://integrityapp.com" } integrityapp.com
