#administrative
  %a{ :href => project_path(@project, :edit) } Edit Project

- if @project.blank?
  %form.blank_slate{ :action => project_path(@project, :builds), :method => :post }
    %p No builds for this project, buddy
    %h1
      You can request a
      %button{ :type => :submit } manual build
- else
  #last_build{ :class => @project.status }
    = partial(:build_info, :build => @project.last_build)

  %form{ :action => project_path(@project, :builds), :method => :post }
    %p.submit.manual-build
      %button{ :type => :submit, :title => "Fetch the last commit from the remote repository and build it" }<
        Fetch and build

  - unless @project.blank?
    %h2 Builds
    %ul#previous_builds
      - @project.sorted_builds.each do |build|
        %li{ :class => build.status }
          %a{ :href => build_path(build) }
            %strong.build<
              &== Build #{build.commit.short_identifier}
            %span.attribution<
              == by #{build.commit.author.name}, #{pretty_date build.commit.committed_at}
