/* ---------------------------------------------------------------------------
   Bare AsciiDoc Styles (Manpage Overlay)
   Ryan Tomayko <r@tomayko.com>
--------------------------------------------------------------------------- */

body {
  max-width:44em;
  margin:40px 20px;
  color:#444;
  text-align:justify;
}

body,h2,tt {
	font-family:consolas,'lucida console','bitstream vera sans mono',
               'courier new', monospace;
}

#header {
	text-align:left;
	margin-bottom:auto;
}

h1, h2 {
	font-weight:bold;
}

/* variable / argument */
em {
  font-style:italic;
  font-weight:normal;
  color:#000;
  text-decoration:none;
}

/* concrete command / option name / file */
tt {
  font-style:normal;
  font-weight:normal;
  font-weight:bold;
  color:#000;
}

/* concrete value */
strong {
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#000;
}

div.sectionbody { margin-left:50px }
div.sectionbody p:first-child,
div.sectionbody dl:first-child
{ margin-top:0 }

dl {
	margin-left:0px;
}

dt {
	font-weight:bold;
	color:#000;
}

dd p:first-child {
	margin-top:0;
}

h1 {
  text-transform:uppercase;
  font-size:22px;
  line-height:1.25;
  text-align:center;
}

h2 {
  font-size:16px;
  line-height:1.25;                      /* 20px baseline */
  margin:20px 0 0 0;
}

#footer {
  font-family:verdana,helvetica,sans-serif;
}

/* vim: set ts=4 sw=4 noexpandtab: */
