%form{ :method => "post", :action => "/" }
  %p.required
    %label{ :for => "project_name" } Name:
    %input.text#project_name{ :name => "name", :type => "text" }
    
  %p.required
    %label{ :for => "project_repository" } Git Repository:
    %input.text#project_repository{ :name => "repository", :type => "text" }
      
  %p.normal
    %label{ :for => "project_branch" } Branch to track:
    %input.text#project_branch{ :name => "branch", :type => "text", :value => "master" }
  
  %p.normal
    %label{ :for => "project_build_script" } Build script:
    %textarea#project_build_script{ :name => "build_script", :type => "text", :value => "rake", :rows => 1 } rake
  
  %p.normal.checkbox
    %label{ :for => "project_privacy" } Public project:
    %input.checkbox#project_privacy{ :name => "privacy", :type => "checkbox", :checked => "checked" }

  %p.submit
    %button.positive{ :type => "submit" } 
      %img{ :src => "/tick.png" }
      Create Project
