%dt
  What the hell is
  = succeed '?' do
    %strong Integrity
%dd
  Integrity is your friendly
  %a{ :href => 'http://en.wikipedia.org/wiki/Continuous_integration' } Continuous Integration
  server. If you want to know more about us, check our website at
  = succeed '.' do
    %a{ :href => 'http://integrity.github.io' } integrity.github.io
