%p.normal
  %label{ :for => "coop_group" } Co-op Group Number
  %input.text#coop_group{ :name => "notifiers[Coop][group]", :type => "text", :value => config["group"] }

%p.normal
  %label{ :for => "coop_key" } Co-op Key
  %input.text#coop_key{ :name => "notifiers[Coop][key]", :type => "text", :value => config["key"] }
