%h2 Email Notifications

%p.normal
  %label{ :for => "email_notifier_to" } Send to
  %input.text#email_notifier_to{ :name => "email_notifier[to]" }

%p.normal
  %label{ :for => "email_notifier_from" } Send from
  %input.text#email_notifier_from{ :name => "email_notifier[from]" }

%h3 SMTP Server Configuration

%p.normal
  %label{ :for => "email_notifier_host" } Host : Port
  = succeed " : " do
    %input.text#email_notifier_host{ :name => "email_notifier[host]", :style => "width: 24.5em;" }
  %input.text#email_notifier_port{ :name => "email_notifier[port]", :style => "width: 3.5em;" }

%p.normal
  %label{ :for => "email_notifier_user" } User
  %input.text#email_notifier_user{ :name => "email_notifier[user]" }

%p.normal
  %label{ :for => "email_notifier_password" } Password
  %input.text#email_notifier_password{ :name => "email_notifier[password]" }

%p.normal
  %label{ :for => "email_notifier_auth" } Auth type
  %input.text#email_notifier_auth{ :name => "email_notifier[auth]", :value => "plain" }
