%p.normal
  %label{ :for => "jabber_notifier_recipients" } Recipients
  %input.text#jabber_notifier_recipients{ :name => "notifiers[Jabber][recipients]", :type => "text", :value => config['recipients'] }

%h3 Jabber Server Configuration

%p.normal
  %label{ :for => "jabber_notifier_user" } User
  %input.text#jabber_notifier_user{ :name => "notifiers[Jabber][user]", :value => config["user"], :type => "text", :value => config['user'] }

%p.normal
  %label{ :for => "jabber_notifier_pass" } Pass
  %input.text#jabber_notifier_pass{ :name => "notifiers[Jabber][pass]", :value => config["pass"], :type => "text", :value => config['pass'] }